.page-name {
    font-size: 77%;
    letter-spacing: 15px;
    margin-left: 21px;
}

.contact-container {
    padding-bottom: 20px;

    @extend .clearfix;

    .avatar {
        text-align: center;
        margin-bottom: 20px;

        img {
            width: 150px;

            border: 6px solid $main-blue;

            @include border-radius(110px);
            @include box-shadow(0,0,5px,rgba(0,0,0,0.2));
        }
    }

    .contact-form,
    .contact-info {
        margin-left: 0;
    }

    .contact-form {
        float: left;
        padding-right: 40px;

        .g-recaptcha-container {
            margin-bottom: 20px;

            .g-recaptcha-message {
                margin: 5px 0 0;

                color: darken($main-red, 20);
                text-align: center;
                font-size: .8em;

                opacity: 0;

                @include transition(opacity, 0.3s, ease);
            }

            &.invalid-captcha {
                .g-recaptcha-message {
                    opacity: 1;
                }
            }
        }

        .g-recaptcha {
            width: 304px;
            margin: 0 auto;
        }
    }
    .contact-info {
        float: right;
        padding: 20px;
        margin-top: 31px;
        margin-bottom: 40px;

        @include border-radius(3px);

        border: 1px solid #ccc;

        background-color: #e5e5e5;

        p {
            margin: 0 0 5px;
        }

        li {
            margin-bottom: 10px;
        }

        img {
            width: auto;
        }

        .cv-link {
            line-height: 1.7em;
        }
    }

    label, input, textarea {
        width: 100%;

        @include box-sizing(border-box);
    }

    input, textarea {
        margin-bottom: 20px;
        padding: 10px;

        border: 3px solid #ccc;

        @include transition(border-color, 0.3s, ease);

        &:focus {
            outline: none;
            border-color: $main-blue;
        }
    }

    button[type='submit'] {
        position: relative;
        display: block;
        width: 70%;
        max-width: 220px;
        margin: 0 auto;
        padding: 10px 15px 10px 40px;
        clear: both;
    }

    label {
        color: $main-green;
        font-weight: 700;
        font-size: 120%;
        line-height: 30px;


        &.invalid {
            & + input,
            & + textarea {
                color: $main-red;
                border-color: $main-red;
            }
        }
    }

    textarea {
        height: 150px;
    }

    .required:after {
        content: '*';
        color: $main-red;
        font-size: 80%;
    }
}

.no-js {
    .contact-form {
        display: none;
    }
    .contact-info {
        width: 100%;
    }
}

@media screen and (max-width: 47.2em) {
    .contact-container > .column {
        width: 100%;
    }
    .contact-container .contact-info {
        margin-top: 0;
    }
    .contact-container .contact-form {
        padding-right: 0;
    }
}

@media screen and (max-width: 65em) {
    .stand .page-name {
        font-size: 79%;
        letter-spacing: 8px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 43.2em) {
    .stand .page-name {
        letter-spacing: 6px;
    }
}
