.page-name {
    font-size: 64%;
    letter-spacing: 3px;
    margin-left: 9px;
}

.content {

    .column {
        padding: 20px;

        & > * {
            position: relative;

            @extend .lazy-display;
        }
    }

    .dead-link {
        text-align: center;

        img {
            width: auto;
            height: auto;
        }
    }

    .error-title {
        margin-top: 0;
        margin-bottom: 20px;

        font-weight: 700;
        color: $main-green;
        font-size: 180%;
    }

    .error-message {
        margin-bottom: 20px;
        font-size: 120%;
    }

    .continue {
        position: relative;
        padding-left: 50px;

        font-family: 'Press Start 2P';
        line-height: 1.85em;
        color: $main-black;

        &:hover {
            color: $main-orange;
        }
    }
}

@media screen and (max-width: 65em) {
    .stand .page-name {
        font-size: 61%;
    }
}

@media screen and (max-width: 43.2em) {
    .stand .page-name {
        font-size: 58%;
    }
}
