.page-name {
    font-size: 64%;
    letter-spacing: 3px;
    margin-left: 9px;
}

.content {
    padding-bottom: 50px;
}

.tmtimeline {
    margin-top: 30px;
    padding: 0 0 20px 0;
    list-style: none;
    position: relative;
}

/* The line */
.tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: $main-black;
    left: 50%;
    margin-left: -5px;
}

.tmtimeline > li {
    position: relative;

    @extend .clearfix;
}

/* The date/time */
.tmtimeline > li .tmtime {
    display: block;
    width: 45%;
    position: absolute;
    left: 0;
    top: 30px;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;

    @include text-shadow(1px, 1px, 0, rgba(0,0,0,0.3));
    @include transition(all, 1s, ease);
}

.tmtimeline > li .tmtime span {
    display: block;
    text-align: right;
}

.tmtimeline > li .tmtime span:first-child {
    font-size: 1.2em;
    color: $main-black;
}

.tmtimeline > li .tmtime span:last-child {
    font-size: 1em;
    color: $main-blue;
}

/* Right content */
.tmtimeline > li .tmtitle {
    position: absolute;
    top: 30px;
    margin-top: 7%;
    width: 45%;
    float: left;

    text-align: center;
    font-size: 150%;

    opacity: 0;

    @include text-shadow(1px, 1px, 0, rgba(0,0,0,0.3));
    @include transition(all, 1s, ease);
}
.tmtimeline > li .tmtitle p {
    margin: 15px 0 0;
}
.tmtimeline > li .tmtitle .position {
    font-weight: 700;
    color: $main-blue;
}
.tmtimeline > li .tmtitle .contract {
    font-size: 80%;
}
.tmtimeline > li .tmlabel {
    margin: 0 0 30px 0;
    padding: 0.5em 2em;
    width: 37.5%;
    position: relative;
    top: 30px;
    float: right;

    border-radius: 5px;

    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;

    opacity: 0;

    @include text-shadow(1px, 1px, 0, rgba(0,0,0,0.3));
    @include transition(all, 1s, ease);
}
.tmtimeline > li .tmlabel p {
    margin: 10px 0;

    font-size: 80%;
    font-weight: 400;
}
.tmtimeline > li .tmlabel .tag {
    padding: 2px 5px;

    background-color: #fff;

    color: darken($main-green, 30%);
    line-height: 2em;
    font-size: 90%;

    @include text-shadow(0, 0, 0, rgba(0,0,0,0));
    @include box-shadow(1px, 1px, 0, rgba(0,0,0,0.3));
    @include border-radius(3px);
}
.tmtimeline > li .tmlabel ul {
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 20px;

    font-size: 70%;
    font-weight: 400;

    list-style: initial;
}
.tmtimeline > li .tmlabel .tmsection {
    font-weight: 700;
}

.tmtimeline > li .tmlabel {
    background: darken($main-green, 10%);
}

.tmtimeline > li .tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    font-weight: 700;
    font-size: 1.2em;

    a {
        font-weight: 700;
    }
}

.tmtimeline > li .tmlabel a {
    color: #fff;

    &:hover {
        color: lighten($main-orange, 5%);
    }
}

/* The triangle */
.tmtimeline > li .tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: darken($main-green, 10%);
    border-width: 10px;
    top: 10px;
}

.tmtimeline > li:nth-child(even) {
    .tmtime {
        right: 0;
        left: inherit;

        & span {
            text-align: left;
        }
    }

    .tmtitle {
        right: 0;
    }

    .tmlabel {
        float: left;
        background: darken($main-green, 20%);

        &:after {
            left: 100%;
            right: inherit;

            border-right-color: transparent;
            border-left-color: darken($main-green, 20%);
        }
    }
}

/* The icons */
.tmtimeline > li .tmicon {
    width: 80px;
    height: 40px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    border: 8px solid $header-bg;
    text-align: center;
    left: 50%;
    top: -8px;
    margin: 0 0 0 -28px;
}

.no-js  {
    .tmtimeline > li .tmtime,
    .tmtimeline > li .tmtitle,
    .tmtimeline > li .tmlabel {
        opacity: 1;
    }
}

@media screen and (max-width: 80em) {
    .tmtimeline > li .tmlabel {
        width: 36%;
    }
}

@media screen and (max-width: 62em) {
    .tmtimeline > li .tmlabel {
        width: 31%;
    }
}

@media screen and (max-width: 47.2em) {

    .tmtimeline:before {
        display: none;
    }

    .tmtimeline > li .tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .tmtimeline > li .tmtitle {
        display: none;
    }

    .tmtimeline > li .show-mobile {
        display: block;
    }

    .tmtimeline > li .tmlabel p {
        font-size: 100%;
    }

    .tmtimeline > li .tmlabel ul {
        font-size: 90%;
    }

    .tmtimeline > li .tmtime span {
        text-align: left;
    }

    .tmtimeline > li .tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        width: 100%;
        font-weight: 400;
        font-size: 95%;
        @include box-sizing(border-box);
        float: none;
    }

    .tmtimeline > li .tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: darken($main-green, 20%);
        top: -20px;
    }

    .tmtimeline > li:nth-child(odd) .tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: darken($main-green, 10%);
    }

    .tmtimeline > li:nth-child(even) .tmlabel:after {
        right: auto;
        left: 20px;
        border-left-color: transparent;
    }

    .tmtimeline > li .tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 0 0 0px;
    }
}

@media screen and (max-width: 65em) {
    .stand .page-name {
        font-size: 62%;
        letter-spacing: 2px;
        margin-left: 3px;
    }
}

@media screen and (max-width: 43.2em) {
    .stand .page-name {
        letter-spacing: 1px;
    }
}
