/* line 1, common/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 12, common/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, common/_reset.scss */
body {
  line-height: 1;
}

/* line 20, common/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, common/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, common/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 36, common/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, common/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, common/_common.scss */
body {
  width: 100%;
  background: #4c4c4c;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

/* line 12, common/_common.scss */
a,
a:link {
  color: #3594cb;
  text-decoration: none;
  font-weight: 400;
}

/* line 19, common/_common.scss */
a:visited {
  color: #2a77a3;
}

/* line 23, common/_common.scss */
a:hover {
  color: #ffa631;
}

/* line 27, common/_common.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 32, common/_common.scss */
p {
  margin: 1em 0;
  line-height: 1.2em;
}

/* line 37, common/_common.scss */
::selection {
  background-color: #7bc98e;
  color: #fff;
}

/* line 42, common/_common.scss */
noscript {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  padding: 20px 2%;
  background-color: #ee4545;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58, common/_common.scss */
.keyword {
  font-weight: 400;
  background-color: transparent;
  color: inherit;
}

/* line 65, common/_common.scss */
.clearfix:before, .content:before, header:before, footer nav:before, .skills-filters:before, .clearfix:after, .content:after, header:after, footer nav:after, .skills-filters:after {
  content: "";
  display: table;
}
/* line 70, common/_common.scss */
.clearfix:after, .content:after, header:after, footer nav:after, .skills-filters:after {
  clear: both;
}

/* line 75, common/_common.scss */
.wrapper {
  display: block;
  margin-top: 53px;
  background: #f3f3f3;
}

/* line 82, common/_common.scss */
.stand {
  padding: 60px 0 40px;
  /*background: url('../images/stand-bg.jpg');*/
  background: url("../img/bkg.png") #3594cb;
  font-size: 400%;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* line 97, common/_common.scss */
.stand h2 {
  font-size: 69%;
  color: #ffa631;
  font-weight: 100;
}
/* line 102, common/_common.scss */
.stand h2 span {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 400;
}
/* line 110, common/_common.scss */
.stand h2 span:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* line 124, common/_common.scss */
.stand .page-name {
  display: block;
  font-family: 'Press Start 2P';
}

/* line 132, common/_common.scss */
.content {
  max-width: 1200px;
  margin: 20px auto 0;
  padding-bottom: 70px;
  font-size: 120%;
  font-weight: 300;
}
/* line 142, common/_common.scss */
.content img {
  width: 100%;
}
/* line 146, common/_common.scss */
.content > * {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 152, common/_common.scss */
.show-mobile {
  display: none;
}

/* line 156, common/_common.scss */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 168, common/_common.scss */
.popin-gallery {
  display: none;
  width: 80%;
  height: 80%;
  padding: 45px;
  position: fixed;
  top: 5%;
  left: 10%;
  z-index: 10;
  background-color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 184, common/_common.scss */
.popin-gallery .popin-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 191, common/_common.scss */
.popin-gallery .slide {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
/* line 197, common/_common.scss */
.popin-gallery .slide.prev-slide {
  left: -100%;
}
/* line 200, common/_common.scss */
.popin-gallery .slide.next-slide {
  left: 100%;
}
/* line 207, common/_common.scss */
.popin-gallery .imgContainer {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
/* line 214, common/_common.scss */
.popin-gallery h2 {
  margin-bottom: 20px;
  padding: 0 50px;
  font-size: 25px;
  font-weight: 700;
  color: #3594cb;
}
/* line 223, common/_common.scss */
.popin-gallery p {
  padding-right: 30px;
  padding-left: 30px;
}
/* line 228, common/_common.scss */
.popin-gallery img {
  max-height: none;
}

@media screen and (max-width: 65em) {
  /* line 234, common/_common.scss */
  .stand {
    font-size: 300%;
  }
}
@media screen and (max-width: 60em) {
  /* line 240, common/_common.scss */
  .popin-gallery {
    width: 100%;
    height: 100%;
    padding: 0 45px;
    position: fixed;
    top: 0;
    left: 0;
  }
  /* line 248, common/_common.scss */
  .popin-gallery h2 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 43.2em) {
  /* line 257, common/_common.scss */
  .show-mobile {
    display: block;
  }

  /* line 261, common/_common.scss */
  .stand {
    padding: 30px 0 20px;
    font-size: 250%;
  }
  /* line 265, common/_common.scss */
  .stand img {
    width: 50px;
    height: 50px;
  }
}
/* line 1, common/_grid.scss */
.column, .mcolumn, .skills-container .skill-block {
  display: block;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, common/_grid.scss */
.mcolumn {
  margin-bottom: 2%;
}
/* line 15, common/_grid.scss */
.mcolumn + .mcolumn {
  margin-left: 2%;
}

/* line 22, common/_grid.scss */
.col-1 {
  width: 8.33333%;
}

/* line 22, common/_grid.scss */
.col-2 {
  width: 16.66667%;
}

/* line 22, common/_grid.scss */
.col-3 {
  width: 25%;
}

/* line 22, common/_grid.scss */
.col-4 {
  width: 33.33333%;
}

/* line 22, common/_grid.scss */
.col-5 {
  width: 41.66667%;
}

/* line 22, common/_grid.scss */
.col-6 {
  width: 50%;
}

/* line 22, common/_grid.scss */
.col-7 {
  width: 58.33333%;
}

/* line 22, common/_grid.scss */
.col-8 {
  width: 66.66667%;
}

/* line 22, common/_grid.scss */
.col-9 {
  width: 75%;
}

/* line 22, common/_grid.scss */
.col-10 {
  width: 83.33333%;
}

/* line 22, common/_grid.scss */
.col-11 {
  width: 91.66667%;
}

/* line 22, common/_grid.scss */
.col-12 {
  width: 100%;
}

/* line 30, common/_grid.scss */
.mcol-1 {
  width: 6.5%;
}

/* line 30, common/_grid.scss */
.mcol-2 {
  width: 15%;
}

/* line 30, common/_grid.scss */
.mcol-3 {
  width: 23.5%;
}

/* line 30, common/_grid.scss */
.mcol-4 {
  width: 32%;
}

/* line 30, common/_grid.scss */
.mcol-5 {
  width: 40.5%;
}

/* line 30, common/_grid.scss */
.mcol-6 {
  width: 49%;
}

/* line 30, common/_grid.scss */
.mcol-7 {
  width: 57.5%;
}

/* line 30, common/_grid.scss */
.mcol-8 {
  width: 66%;
}

/* line 30, common/_grid.scss */
.mcol-9 {
  width: 74.5%;
}

/* line 30, common/_grid.scss */
.mcol-10 {
  width: 83%;
}

/* line 30, common/_grid.scss */
.mcol-11 {
  width: 91.5%;
}

/* line 30, common/_grid.scss */
.mcol-12 {
  width: 100%;
}

@media screen and (max-width: 35em) {
  /* line 39, common/_grid.scss */
  .mcolumn + .mcolumn {
    margin-left: 0;
  }

  /* line 45, common/_grid.scss */
  .col-1 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-2 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-3 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-4 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-5 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-6 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-7 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-8 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-9 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-10 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-11 {
    width: 100%;
  }

  /* line 45, common/_grid.scss */
  .col-12 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-1 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-2 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-3 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-4 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-5 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-6 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-7 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-8 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-9 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-10 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-11 {
    width: 100%;
  }

  /* line 53, common/_grid.scss */
  .mcol-12 {
    width: 100%;
  }
}
/* line 1, common/_header.scss */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  font-size: 1.2em;
  background-color: #222;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
}
/* line 14, common/_header.scss */
header nav {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 19, common/_header.scss */
header .logo-container {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -60px;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  border-radius: 70px;
}
/* line 36, common/_header.scss */
header .logo {
  margin: 0 auto;
  display: block;
  padding: 15px;
  border: 5px solid #4c4c4c;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  border-radius: 70px;
}
/* line 49, common/_header.scss */
header .logo:hover {
  border-color: #7bc98e;
}
/* line 54, common/_header.scss */
header .link {
  width: 50%;
  display: block;
  float: left;
  padding: 24px 10px 30px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 71, common/_header.scss */
header .link:hover {
  border-color: #ffa631;
  background-color: #3c3c3c;
}
/* line 77, common/_header.scss */
header.fixed {
  opacity: 0.95;
}
/* line 80, common/_header.scss */
header.fixed .logo-container {
  margin-left: -35px;
  top: -10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}
/* line 87, common/_header.scss */
header.fixed .logo {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-width: 3px;
}
/* line 94, common/_header.scss */
header.fixed .link {
  padding: 10px 10px 14px;
}

@media screen and (max-width: 48.5em) {
  /* line 101, common/_header.scss */
  header {
    font-size: 100%;
  }
  /* line 104, common/_header.scss */
  header .logo-container {
    margin-left: -35px;
    top: 0px;
  }
  /* line 109, common/_header.scss */
  header .logo {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-width: 3px;
  }
}
@media screen and (max-width: 43.2em) {
  /* line 120, common/_header.scss */
  header {
    height: 56px;
  }
  /* line 123, common/_header.scss */
  header .logo-container {
    margin-left: -35px;
    top: -10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  }
  /* line 130, common/_header.scss */
  header nav {
    position: fixed;
    left: -80%;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #222;
  }
  /* line 138, common/_header.scss */
  header nav .column, header nav .mcolumn, header nav .skills-container .skill-block, .skills-container header nav .skill-block {
    width: 100%;
  }
  /* line 143, common/_header.scss */
  header .logo {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-width: 3px;
  }
  /* line 151, common/_header.scss */
  header .link {
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
  }
  /* line 157, common/_header.scss */
  header.fixed {
    opacity: 1;
  }
}
/* line 1, common/_footer.scss */
footer {
  width: 100%;
  position: relative;
  background-color: #4c4c4c;
}
/* line 7, common/_footer.scss */
footer nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}
/* line 15, common/_footer.scss */
footer .link {
  padding: 20px 10px;
  float: left;
  display: block;
  color: #fff;
  font-weight: 700;
}
/* line 23, common/_footer.scss */
footer .link:hover {
  color: #ffa631;
  background-color: #3f3f3f;
}
/* line 29, common/_footer.scss */
footer .logo-footer {
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -55px;
  padding: 15px;
  background-color: #4c4c4c;
  text-align: center;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  border-radius: 70px;
}
/* line 43, common/_footer.scss */
footer .social {
  display: block;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 35em) {
  /* line 52, common/_footer.scss */
  .footer-socials, .footer-links {
    width: 100%;
  }

  /* line 56, common/_footer.scss */
  .footer-links {
    text-align: center;
  }
  /* line 59, common/_footer.scss */
  .footer-links .link {
    float: initial;
    display: inline-block;
  }

  /* line 65, common/_footer.scss */
  .footer-socials {
    text-align: center;
  }
  /* line 68, common/_footer.scss */
  .footer-socials .social {
    float: initial;
    display: inline-block;
  }
}
/* line 1, common/_sweet-alert.scss */
.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}

/* line 16, common/_sweet-alert.scss */
.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}
@media all and (max-width: 540px) {
  /* line 16, common/_sweet-alert.scss */
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}
/* line 46, common/_sweet-alert.scss */
.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}
/* line 59, common/_sweet-alert.scss */
.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* line 72, common/_sweet-alert.scss */
.sweet-alert button {
  background-color: #AEDEF4;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}
/* line 87, common/_sweet-alert.scss */
.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
/* line 91, common/_sweet-alert.scss */
.sweet-alert button:hover {
  background-color: #a1d9f2;
}
/* line 94, common/_sweet-alert.scss */
.sweet-alert button:active {
  background-color: #81ccee;
}
/* line 97, common/_sweet-alert.scss */
.sweet-alert button.cancel {
  background-color: #f27474;
}
/* line 99, common/_sweet-alert.scss */
.sweet-alert button.cancel:hover {
  background-color: #f16666;
}
/* line 102, common/_sweet-alert.scss */
.sweet-alert button.cancel:active {
  background-color: #ee4545;
}
/* line 106, common/_sweet-alert.scss */
.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important;
}
/* line 111, common/_sweet-alert.scss */
.sweet-alert button::-moz-focus-inner {
  border: 0;
}
/* line 117, common/_sweet-alert.scss */
.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important;
}
/* line 122, common/_sweet-alert.scss */
.sweet-alert .icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}
/* line 139, common/_sweet-alert.scss */
.sweet-alert .icon.error {
  border-color: #F27474;
}
/* line 142, common/_sweet-alert.scss */
.sweet-alert .icon.error .x-mark {
  position: relative;
  display: block;
}
/* line 147, common/_sweet-alert.scss */
.sweet-alert .icon.error .line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px;
}
/* line 156, common/_sweet-alert.scss */
.sweet-alert .icon.error .line.left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px;
}
/* line 161, common/_sweet-alert.scss */
.sweet-alert .icon.error .line.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px;
}
/* line 168, common/_sweet-alert.scss */
.sweet-alert .icon.warning {
  border-color: #F8BB86;
}
/* line 171, common/_sweet-alert.scss */
.sweet-alert .icon.warning .body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}
/* line 182, common/_sweet-alert.scss */
.sweet-alert .icon.warning .dot {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86;
}
/* line 194, common/_sweet-alert.scss */
.sweet-alert .icon.info {
  border-color: #C9DAE1;
}
/* line 197, common/_sweet-alert.scss */
.sweet-alert .icon.info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1;
}
/* line 208, common/_sweet-alert.scss */
.sweet-alert .icon.info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1;
}
/* line 219, common/_sweet-alert.scss */
.sweet-alert .icon.success {
  border-color: #A5DC86;
}
/* line 222, common/_sweet-alert.scss */
.sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 234, common/_sweet-alert.scss */
.sweet-alert .icon.success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}
/* line 245, common/_sweet-alert.scss */
.sweet-alert .icon.success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}
/* line 257, common/_sweet-alert.scss */
.sweet-alert .icon.success .placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}
/* line 272, common/_sweet-alert.scss */
.sweet-alert .icon.success .fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 286, common/_sweet-alert.scss */
.sweet-alert .icon.success .line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}
/* line 295, common/_sweet-alert.scss */
.sweet-alert .icon.success .line.tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 304, common/_sweet-alert.scss */
.sweet-alert .icon.success .line.long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 315, common/_sweet-alert.scss */
.sweet-alert .icon.custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px !important;
  width: 250px !important;
}

/*
* Animations
*/
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
/* line 359, common/_sweet-alert.scss */
.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}
/* line 362, common/_sweet-alert.scss */
.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

/* line 366, common/_sweet-alert.scss */
.hideSweetAlert {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s;
}
/* line 369, common/_sweet-alert.scss */
.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
/* line 398, common/_sweet-alert.scss */
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

/* line 401, common/_sweet-alert.scss */
.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

/* line 404, common/_sweet-alert.scss */
.icon.success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
/* line 415, common/_sweet-alert.scss */
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
/* line 424, common/_sweet-alert.scss */
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s;
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
/* line 432, common/_sweet-alert.scss */
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
/* line 440, common/_sweet-alert.scss */
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate;
}

/**
* Manuel Taraud
* 30/07/2014
* Define the common sprite properties
**/
/* line 336, sprites/*.png */
.sprites-sprite, .nav-icon, .skills-icon, .experiences-icon, .portfolio-icon, .contact-icon, .close-icon, .left-arrow-icon, .right-arrow-icon, .phone-icon, .magnify-icon, .link-icon, .phone-puce, .linkedin-puce, .viadeo-puce, .tmtimeline > li .tmicon.icon-te, .tmtimeline > li .tmicon.icon-neoptia, .tmtimeline > li .tmicon.icon-1dclic, .tmtimeline > li .tmicon.icon-st-cyr, .tmtimeline > li .tmicon.icon-src, .coffee-0, .coffee-1, .coffee-2, .coffee-3, .coffee-4, .coffee-5, .submit-button:before, .filter-button, .filter-button.active, .cv-link .pdf-icon, .cv-link:hover .pdf-icon, .linkedin-icon, .linkedin-icon:hover, .viadeo-icon, .viadeo-icon:hover, .error-page .continue:before, .error-page .continue:hover:before, .error-page .continue.key:before {
  background-image: url('/img/generated/sprites-s57ba03d59c.png');
  background-repeat: no-repeat;
}

/* line 9, sprites/_sprites.scss */
.nav-icon {
  background-position: -102px 0;
  height: 28px;
  width: 34px;
  position: absolute;
  top: 14px;
  left: 14px;
  cursor: pointer;
}

/* line 17, sprites/_sprites.scss */
.skills-icon {
  background-position: -48px 0;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/* line 25, sprites/_sprites.scss */
.experiences-icon {
  background-position: -16px -55px;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/* line 33, sprites/_sprites.scss */
.portfolio-icon {
  background-position: 0 0;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

/* line 41, sprites/_sprites.scss */
.contact-icon {
  background-position: -24px 0;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/* line 49, sprites/_sprites.scss */
.close-icon {
  background-position: 0 -321px;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* line 57, sprites/_sprites.scss */
.left-arrow-icon {
  background-position: -92px -255px;
  height: 32px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -16px;
  cursor: pointer;
}

/* line 66, sprites/_sprites.scss */
.right-arrow-icon {
  background-position: -120px -55px;
  height: 32px;
  width: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -16px;
  cursor: pointer;
}

/* line 75, sprites/_sprites.scss */
.phone-icon {
  background-position: -72px 0;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 14px;
  right: 14px;
}

/* line 82, sprites/_sprites.scss */
.magnify-icon,
.link-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: -8px;
}

/* line 89, sprites/_sprites.scss */
.magnify-icon {
  background-position: 0 -30px;
  height: 15px;
  width: 15px;
}

/* line 92, sprites/_sprites.scss */
.link-icon {
  background-position: -56px -30px;
  height: 16px;
  width: 16px;
}

/* line 95, sprites/_sprites.scss */
.phone-puce {
  background-position: 0 -55px;
  height: 21px;
  width: 16px;
}

/* line 98, sprites/_sprites.scss */
.linkedin-puce {
  background-position: -40px -30px;
  height: 16px;
  width: 16px;
}

/* line 101, sprites/_sprites.scss */
.viadeo-puce {
  background-position: -72px -30px;
  height: 16px;
  width: 16px;
}

/* line 104, sprites/_sprites.scss */
.phone-puce,
.linkedin-puce,
.viadeo-puce {
  margin-right: 5px;
  display: block;
  float: left;
  clear: both;
}

/* line 114, sprites/_sprites.scss */
.tmtimeline > li .tmicon.icon-te {
  background-position: -75px -321px;
  height: 40px;
  width: 40px;
}

/* line 117, sprites/_sprites.scss */
.tmtimeline > li .tmicon.icon-neoptia {
  background-position: 0 -361px;
  height: 40px;
  width: 40px;
}

/* line 120, sprites/_sprites.scss */
.tmtimeline > li .tmicon.icon-1dclic {
  background-position: -80px -361px;
  height: 40px;
  width: 40px;
}

/* line 123, sprites/_sprites.scss */
.tmtimeline > li .tmicon.icon-st-cyr {
  background-position: -35px -321px;
  height: 40px;
  width: 40px;
}

/* line 126, sprites/_sprites.scss */
.tmtimeline > li .tmicon.icon-src {
  background-position: -40px -361px;
  height: 40px;
  width: 40px;
}

/* line 130, sprites/_sprites.scss */
.coffee-0 {
  background-position: 0 -199px;
  height: 28px;
  width: 145px;
}

/* line 133, sprites/_sprites.scss */
.coffee-1 {
  background-position: 0 -227px;
  height: 28px;
  width: 145px;
}

/* line 136, sprites/_sprites.scss */
.coffee-2 {
  background-position: 0 -87px;
  height: 28px;
  width: 145px;
}

/* line 139, sprites/_sprites.scss */
.coffee-3 {
  background-position: 0 -143px;
  height: 28px;
  width: 145px;
}

/* line 142, sprites/_sprites.scss */
.coffee-4 {
  background-position: 0 -115px;
  height: 28px;
  width: 145px;
}

/* line 145, sprites/_sprites.scss */
.coffee-5 {
  background-position: 0 -171px;
  height: 28px;
  width: 145px;
}

/* line 149, sprites/_sprites.scss */
.submit-button:before {
  content: "";
  display: block;
  float: left;
  position: absolute;
  top: 16px;
  margin-right: 15px;
  background-position: -15px -30px;
  height: 14px;
  width: 25px;
}

/* line 159, sprites/_sprites.scss */
.filter-button {
  background-position: -40px -55px;
  height: 25px;
  width: 50px;
  float: left;
  cursor: pointer;
}
/* line 164, sprites/_sprites.scss */
.filter-button.active {
  background-position: -88px -30px;
  height: 25px;
  width: 50px;
}

/* line 170, sprites/_sprites.scss */
.cv-link .pdf-icon {
  display: block;
  float: left;
  background-position: -60px -255px;
  height: 32px;
  width: 32px;
}
/* line 175, sprites/_sprites.scss */
.cv-link:hover .pdf-icon {
  background-position: -112px -255px;
  height: 32px;
  width: 32px;
}

/* line 180, sprites/_sprites.scss */
.linkedin-icon {
  display: block;
  background-position: -30px -255px;
  height: 30px;
  width: 30px;
}
/* line 184, sprites/_sprites.scss */
.linkedin-icon:hover {
  background-position: 0 -287px;
  height: 30px;
  width: 30px;
}

/* line 189, sprites/_sprites.scss */
.viadeo-icon {
  display: block;
  background-position: -90px -55px;
  height: 30px;
  width: 30px;
}
/* line 193, sprites/_sprites.scss */
.viadeo-icon:hover {
  background-position: 0 -255px;
  height: 30px;
  width: 30px;
}

/* line 199, sprites/_sprites.scss */
.error-page .continue:before {
  content: "";
  position: absolute;
  left: 0;
  background-position: -62px -287px;
  height: 32px;
  width: 32px;
}
/* line 207, sprites/_sprites.scss */
.error-page .continue:hover:before {
  background-position: -30px -287px;
  height: 32px;
  width: 32px;
}
/* line 212, sprites/_sprites.scss */
.error-page .continue.key:before {
  background-position: -94px -287px;
  height: 34px;
  width: 28px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 219, sprites/_sprites.scss */
  .close-icon,
  .coffee-0,
  .coffee-1,
  .coffee-2,
  .coffee-3,
  .coffee-4,
  .coffee-5,
  .contact-icon,
  .cv-link .pdf-icon,
  .cv-link:hover .pdf-icon,
  .error-page .continue.key:before,
  .error-page .continue:before,
  .error-page .continue:hover:before,
  .experiences-icon, .filter-button,
  .filter-button.active,
  .left-arrow-icon,
  .link-icon,
  .linkedin-icon,
  .linkedin-icon:hover,
  .linkedin-puce,
  .magnify-icon,
  .nav-icon,
  .phone-icon,
  .phone-puce,
  .portfolio-icon,
  .right-arrow-icon,
  .skills-icon,
  .sprites-sprite,
  .nav-icon,
  .skills-icon,
  .experiences-icon,
  .portfolio-icon,
  .contact-icon,
  .close-icon,
  .left-arrow-icon,
  .right-arrow-icon,
  .phone-icon,
  .magnify-icon,
  .link-icon,
  .phone-puce,
  .linkedin-puce,
  .viadeo-puce,
  .tmtimeline > li .tmicon.icon-te,
  .tmtimeline > li .tmicon.icon-neoptia,
  .tmtimeline > li .tmicon.icon-1dclic,
  .tmtimeline > li .tmicon.icon-st-cyr,
  .tmtimeline > li .tmicon.icon-src,
  .coffee-0,
  .coffee-1,
  .coffee-2,
  .coffee-3,
  .coffee-4,
  .coffee-5,
  .submit-button:before,
  .filter-button,
  .filter-button.active,
  .cv-link .pdf-icon,
  .cv-link:hover .pdf-icon,
  .linkedin-icon,
  .linkedin-icon:hover,
  .viadeo-icon,
  .viadeo-icon:hover,
  .error-page .continue:before,
  .error-page .continue:hover:before,
  .error-page .continue.key:before,
  .submit-button:before,
  .tmtimeline > li .tmicon.icon-1dclic,
  .tmtimeline > li .tmicon.icon-neoptia,
  .tmtimeline > li .tmicon.icon-src,
  .tmtimeline > li .tmicon.icon-st-cyr,
  .tmtimeline > li .tmicon.icon-te,
  .viadeo-icon,
  .viadeo-icon:hover,
  .viadeo-puce {
    /*background-image: url(/img/generated/sprites2x-s43f2d7e024.png);
    background-size: 145px 401px;*/
  }
}
/* line 1, page/_competences.scss */
.page-name {
  font-size: 58%;
  letter-spacing: 3px;
  margin-left: 9px;
}

/* line 7, page/_competences.scss */
.no-results {
  text-align: center;
}

/* line 11, page/_competences.scss */
.skills-filters {
  margin: 2%;
}
/* line 15, page/_competences.scss */
.skills-filters .skill-filter {
  width: 25%;
  margin: 0;
  float: left;
}
/* line 20, page/_competences.scss */
.skills-filters .skill-filter .filter-title {
  float: left;
  line-height: 1.5em;
  margin-left: 10px;
  cursor: pointer;
}

/* line 31, page/_competences.scss */
.skills-container .skill-block {
  width: 20%;
  margin: 0;
  padding: 2%;
  height: 150px;
  border: 4px solid #f3f3f3;
  background-color: #fff;
  line-height: 9em;
  text-align: center;
  overflow: hidden;
}
/* line 48, page/_competences.scss */
.skills-container .skill-block img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/* line 55, page/_competences.scss */
.skills-container .skill-block .skill-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
/* line 65, page/_competences.scss */
.skills-container .skill-block .coffee {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -72px;
  margin-top: -14px;
}
/* line 74, page/_competences.scss */
.skills-container .skill-block .in-progress {
  display: block;
  position: absolute;
  width: 120%;
  top: 50%;
  left: -10%;
  margin-top: -19px;
  background-color: #7bc98e;
  line-height: 2em;
  font-weight: 700;
  color: #fff;
}
/* line 90, page/_competences.scss */
.skills-container .skill-block:hover .skill-overlay {
  top: 0;
}

/* line 97, page/_competences.scss */
.no-js .skills-filters {
  display: none;
}

@media screen and (max-width: 70em) and (min-width: 60.1em) {
  /* line 103, page/_competences.scss */
  .skills-container .skill-block {
    width: 25%;
  }
  /* line 106, page/_competences.scss */
  .skills-container .skill-block:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 60.1em) {
  /* line 116, page/_competences.scss */
  .skills-container .skill-block .in-progress {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}
@media screen and (max-width: 60em) {
  /* line 126, page/_competences.scss */
  .skills-container .skill-block {
    padding-bottom: 35px;
  }
  /* line 129, page/_competences.scss */
  .skills-container .skill-block .skill-overlay {
    position: absolute;
    top: inherit;
    bottom: 0;
    height: 35px;
  }
  /* line 136, page/_competences.scss */
  .skills-container .skill-block:hover .skill-overlay {
    top: inherit;
  }
  /* line 140, page/_competences.scss */
  .skills-container .skill-block .coffee {
    top: inherit;
    margin-top: 2px;
  }
  /* line 145, page/_competences.scss */
  .skills-container .skill-block .in-progress {
    top: inherit;
    margin-top: 0;
    line-height: 1.85em;
  }
}
@media screen and (max-width: 60em) and (min-width: 48.1em) {
  /* line 157, page/_competences.scss */
  .skills-container .skill-block {
    width: 33.3333333%;
  }
}
@media screen and (max-width: 48em) {
  /* line 165, page/_competences.scss */
  .skills-filters .skill-filter {
    width: 50%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 48em) and (min-width: 32.3em) {
  /* line 174, page/_competences.scss */
  .skills-filters .skill-filter {
    width: 50%;
    margin-bottom: 10px;
  }

  /* line 180, page/_competences.scss */
  .skills-container .skill-block {
    width: 50%;
  }
}
@media screen and (max-width: 32.25em) {
  /* line 188, page/_competences.scss */
  .skills-container .skill-block {
    width: 100%;
  }
}
@media screen and (max-width: 65em) {
  /* line 195, page/_competences.scss */
  .stand .page-name {
    font-size: 56%;
    letter-spacing: 2px;
    margin-left: 3px;
  }
}
@media screen and (max-width: 43.2em) {
  /* line 203, page/_competences.scss */
  .stand .page-name {
    letter-spacing: 1px;
  }
}
