body {
    width: 100%;

    background: #f3f3f3;

    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

a,
a:link {
    color: $main-blue;
    text-decoration: none;
    font-weight: 400;
}

a:visited {
    color: darken($main-blue, 10%);
}

a:hover {
    color: $main-orange;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    margin: 1em 0;
    line-height: 1.2em;
}

::selection {
    background-color: $main-green;
    color: #fff;
}

noscript {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    padding: 20px;

    background-color: darken($main-red, 10%);

    text-align: center;
    color: #fff;
}

.keyword {
    font-weight: 700;
}

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.wrapper {
    margin-top: 53px;
}

.stand {
    padding: 60px 0 40px;

    /*background: url('../images/stand-bg.jpg');*/
    background: url('../images/bkg.png') $main-blue;

    font-size: 400%;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    @include text-shadow(2px, 2px, 2px, rgba(0,0,0,0.5));

    h2 {
        font-size: 69%;
        color: $main-orange;
        font-weight: 100;

        span {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 15px;
            display: inline-block;
            font-weight: 400;
        }

        span:after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
            display: block;
            bottom: 0;
            left:0;
            position: absolute;

            @include box-shadow(2px, 2px, 2px, rgba(0,0,0,0.5));
        }
    }

    .page-name {
        display: block;
    }
}


.content {
    max-width: $max-width;
    margin: 20px auto 0;
    padding-bottom: 70px;

    font-size: 120%;
    font-weight: 300;

    @extend .clearfix;

    img {
        width: 100%;
    }

    > * {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.show-mobile {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background-color: rgba(0,0,0,0.75);
}

.galery-popin {
    width: 80%;
    height: 80%;
    padding: 20px;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 10;

    background-color: #fff;

    text-align: center;

    .popin-container {
        height: 100%;
        width: 100%;
    }

    .imgContainer {
        width: 90%;
        height: 80%;
        margin: 0 auto;

        overflow-x: auto;
    }

    h2 {
        margin-bottom: 20px;

        font-size: 25px;
        font-weight: 700;
        color: $main-blue;
    }

    img {
        width: 100%;
        max-height: none;
    }
}

@media screen and (max-width: 65em) {
    .stand {
        font-size: 300%;
    }
}

@media screen and (max-width: 60em) {
    .galery-popin {
        width: 100%;
        height: 100%;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;

        h2 {
            margin-top: 20px;
        }
    }
}



@media screen and (max-width: 43.2em) {
    .show-mobile {
        display: block;
    }

    .stand {
        padding: 30px 0 20px;
        font-size: 250%;

        img {
            width: 50px;
        }
    }
}
