body {
    width: 100%;

    background: $main-black;

    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

a,
a:link {
    color: $main-blue;
    text-decoration: none;
    font-weight: 400;
}

a:visited {
    color: darken($main-blue, 10%);
}

a:hover {
    color: $main-orange;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    margin: 1em 0;
    line-height: 1.2em;
}

::selection {
    background-color: $main-green;
    color: #fff;
}

noscript {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    padding: 20px 2%;

    background-color: darken($main-red, 10%);

    text-align: center;
    color: #fff;

    @include box-sizing(border-box);
}

.keyword {
    font-weight: 400;
    background-color: transparent;
    color: inherit;
}

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.wrapper {
    display: block;
    margin-top: 53px;

    background: #f3f3f3;
}

.stand {
    padding: 50px 0 30px;

    /*background: url('../images/stand-bg.jpg');*/
    background: url('../img/bkg.png') $main-blue top fixed;

    font-size: 400%;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    @include text-shadow(2px, 2px, 2px, rgba(0,0,0,0.5));

    h2 {
        font-size: 69%;
        color: $main-orange;
        font-weight: 100;

        span {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 15px;
            display: inline-block;
            font-weight: 400;
        }

        span:after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
            display: block;
            bottom: 0;
            left:0;
            position: absolute;

            @include box-shadow(2px, 2px, 2px, rgba(0,0,0,0.5));
        }
    }

    .page-name {
        display: block;

        font-family: 'Press Start 2P';
    }
}


.content {
    max-width: $max-width;
    margin: 20px auto 0;
    padding-bottom: 70px;

    font-size: 120%;
    font-weight: 300;

    @extend .clearfix;

    img {
        width: 100%;
    }

    > * {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.button {
    position: relative;

    border: none;

    background-color: $main-green;

    color: #fff;
    font-weight: 700;
    font-size: 120%;

    cursor: pointer;
    overflow: hidden;

    @include transition(background-color, 0.3s, ease);

    &:hover {
        background-color: $main-orange;
    }
}

.ripple {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    transform: scale(0);
}

.ripple.animate {
    animation: ripple 0.5s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.show-mobile {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background-color: rgba(0,0,0,0.75);
}

.popin-gallery {
    display: none;
    width: 80%;
    height: 80%;
    padding: 45px;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 10;

    background-color: #fff;

    text-align: center;

    @include box-sizing(border-box);

    .popin-container {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .slide {
        position: absolute;
        left: 0%;
        width: 100%;
        height: 100%;

        &.prev-slide {
            left: -100%;
        }
        &.next-slide {
            left: 100%;
        }

        @include transition(left, 0.5s, ease);
    }

    .imgContainer {
        width: 100%;
        height: 80%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    h2 {
        margin-bottom: 20px;
        padding: 0 50px;

        font-size: 25px;
        font-weight: 700;
        color: $main-blue;
    }

    p {
        padding-right: 30px;
        padding-left: 30px;
    }

    img {
        max-height: none;
    }
}

@media screen and (max-width: 65em) {
    .stand {
        font-size: 300%;
    }
}

@media screen and (max-width: 60em) {
    .popin-gallery {
        width: 100%;
        height: 100%;
        padding: 0 45px;
        position: fixed;
        top: 0;
        left: 0;

        h2 {
            margin-top: 20px;
        }

        .imgContainer {
            height: 65%;
        }
    }
}



@media screen and (max-width: 43.2em) {
    .show-mobile {
        display: block;
    }

    .stand {
        padding: 30px 0 20px;
        font-size: 250%;

        img {
            width: 50px;
            height: 50px;
        }
    }
}
