/**
* Manuel Taraud
* 30/07/2014
* Define the common sprite properties
**/

@import "sprites/*.png";

.nav-icon {
    @include sprites-sprite('nav-icon');
    position: absolute;
    top: 14px;
    left: 14px;
    cursor: pointer;
}

.js-expanded .nav-icon {
    @include sprites-sprite('close-nav-icon');
}

.skills-icon {
    @include sprites-sprite('skills-icon');
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.experiences-icon {
    @include sprites-sprite('experiences-icon');
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.portfolio-icon {
    @include sprites-sprite('portfolio-icon');
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.contact-icon {
    @include sprites-sprite('contact-icon');
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.close-icon {
    @include sprites-sprite('close-icon');
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.left-arrow-icon {
    @include sprites-sprite('left-arrow');
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -16px;
    cursor: pointer;
}

.right-arrow-icon {
    @include sprites-sprite('right-arrow');
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -16px;
    cursor: pointer;
}

.phone-icon {
    @include sprites-sprite('phone-icon');
    position: absolute;
    top: 14px;
    right: 14px;
}

.magnify-icon,
.link-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    margin-left: -8px;
}
.magnify-icon {
    @include sprites-sprite('magnify-icon');
}
.link-icon {
    @include sprites-sprite('link-icon');
}
.phone-puce {
    @include sprites-sprite('phone-puce');
}
.linkedin-puce {
    @include sprites-sprite('linkedin-puce');
}
.viadeo-puce {
    @include sprites-sprite('viadeo-puce');
}
.phone-puce,
.linkedin-puce,
.viadeo-puce {
    margin-right: 5px;
    display: block;
    float: left;

    clear: both;
}

.tmtimeline > li .tmicon.icon-lunaweb {
    @include sprites-sprite('lunaweb-logo-mobile');
}
.tmtimeline > li .tmicon.icon-te {
    @include sprites-sprite('te-logo-mobile');
}
.tmtimeline > li .tmicon.icon-neoptia {
    @include sprites-sprite('neoptia-logo-mobile');
}
.tmtimeline > li .tmicon.icon-1dclic {
    @include sprites-sprite('1dclic-logo-mobile');
}
.tmtimeline > li .tmicon.icon-st-cyr {
    @include sprites-sprite('st-cyr-logo-mobile');
}
.tmtimeline > li .tmicon.icon-src {
    @include sprites-sprite('src-logo-mobile');
}

.coffee-0 {
    @include sprites-sprite('coffee-0');
}
.coffee-1 {
    @include sprites-sprite('coffee-1');
}
.coffee-2 {
    @include sprites-sprite('coffee-2');
}
.coffee-3 {
    @include sprites-sprite('coffee-3');
}
.coffee-4 {
    @include sprites-sprite('coffee-4');
}
.coffee-5 {
    @include sprites-sprite('coffee-5');
}

.submit-button:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    @include sprites-sprite('send-icon');
}

.filter-button {
    @include sprites-sprite('filter-inactive');
    float: left;
    cursor: pointer;

    &.active {
        @include sprites-sprite('filter-active');
    }
}

.cv-link {
    .pdf-icon {
        display: block;
        float: left;
        @include sprites-sprite('pdf-icon');
    }
    &:hover .pdf-icon {
        @include sprites-sprite('pdf-hover-icon');
    }
}

.linkedin-icon {
    display: block;
    @include sprites-sprite('linkedin-icon');

    &:hover {
        @include sprites-sprite('linkedin-hover-icon');
    }
}

.viadeo-icon {
    display: block;
    @include sprites-sprite('viadeo-icon');

    &:hover {
        @include sprites-sprite('viadeo-hover-icon');
    }
}

.error-page .continue {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        @include sprites-sprite('continue-arrow-icon');
    }

    &:hover {
        &:before {
            @include sprites-sprite('continue-arrow-hover-icon');
        }
    }

    &.key:before {
        @include sprites-sprite('key-icon');
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .close-icon,
    .coffee-0,
    .coffee-1,
    .coffee-2,
    .coffee-3,
    .coffee-4,
    .coffee-5,
    .contact-icon,
    .cv-link .pdf-icon,
    .cv-link:hover .pdf-icon,
    .error-page .continue.key:before,
    .error-page .continue:before,
    .error-page .continue:hover:before,
    .experiences-icon, .filter-button,
    .filter-button.active,
    .left-arrow-icon,
    .link-icon,
    .linkedin-icon,
    .linkedin-icon:hover,
    .linkedin-puce,
    .magnify-icon,
    .nav-icon,
    .phone-icon,
    .phone-puce,
    .portfolio-icon,
    .right-arrow-icon,
    .skills-icon,
    .sprites-sprite,
    .submit-button:before,
    .tmtimeline>li .tmicon.icon-1dclic,
    .tmtimeline>li .tmicon.icon-neoptia,
    .tmtimeline>li .tmicon.icon-src,
    .tmtimeline>li .tmicon.icon-st-cyr,
    .tmtimeline>li .tmicon.icon-te,
    .viadeo-icon,
    .viadeo-icon:hover,
    .viadeo-puce {
        /*background-image: url(/img/generated/sprites2x-s43f2d7e024.png);
        background-size: 145px 401px;*/
    }
}
